footer{
	background: darken($theme-blue, 5%);

	.footer-wrapper{
		@extend .container;
		padding: 40px 0;
	}

	address{
		@include font-size(12);
	  color: rgb(152, 200, 241);
	  font-style: normal;
	  text-align: center;
	}
}