nav{
	height: 60px;
	width: 920px;

	@include phone{
		width: 100%;
	}

	ul{
		list-style: none;
		margin: 0 auto;
		padding: 0;
		width: 380px;

		li{
			float: left;
			display: inline-block;
			padding: 10px;
		  padding-bottom: 0;
			margin-right: 10px;
			@include phone{
				margin-right: 0;
				padding: 5px;
			}
		}
	}

	ul li:last-child{
		margin-right: 0;
	}

	a{
		display: inline-block;
		height: 50px;
		@include transition(all 0.1s .1s);

		&:hover{
			border-bottom: 2px solid #e7e7e7;
		}
	}

}

